
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


body, html { 
    font-family: system-ui; 
    font-size: 14px; 
}


.horizontal-line { 
    margin: 5px 0; 
    border-bottom: solid 1px #B388FF; 
}

.height{
    height: 100%;
}


.bg-c1{
    background-color: #FFFF8D /* rgba(255, 255, 0, 0.5) */;
}

.bg-c2{
    background-color: #B9F6CA /* rgba(0, 255, 0, 0.5) */;
}

.bg-c3{
    background-color: #FFD180 /* rgba(255, 205, 100, 0.75) */;
}

.bg-c4{
    background-color: #A1887F /* rgba(255, 155, 50, 0.6) */;
}

.bg-c5{
    background-color:#8D6E63 /* rgba(205, 100, 0, 0.6) */;
}

.bg-c6{
    background-color: #FF8A80 /* rgba(255, 0, 0, 0.5) */;
}

.flex {
    display: flex; 
}

.flex-justify-space-between {
    
    justify-content: space-between;  
   
}

.flex-col {
    flex-direction: column; 
}

.page {
    padding: 5px; 
    max-width: 500px; 
    width: 100%; 
    margin-left: auto; 
    margin-right: auto; 

}

.menu {

    width: 100%; 
    background-color: #7C4DFF;
    border-radius: 2px; 

}

.menu ul { 

    /* height: 100%;  */
   /*  display: flex; */
    align-items: center; 
    background-color: #7C4DFF;
}

.menu li { 

    list-style-type: none; 
    padding: 15px; 
    transition: background-color 500ms ease; 
}

.menu li:hover { 
    background-color: #7C4DFF; 
} 

.menu a {
    
    color: white;
    text-decoration: none; 
}

.menu a:hover { 

    text-decoration: underline; 
}

nav ul .p-relative:hover ul{
    display: block;
}

.p-absolute {
    position: absolute; 
    left: 0;
    width: 150px;
    top: 46px;
    display: none;
    
}

.p-relative {
    position: relative;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}


.form .form-group {

    margin-bottom: 8px; 
}

.form input {

    width: 100%; 
    border: solid 2px #9fa8da; 
    outline: none; 
    border-radius: 3px; 
    padding: 8px; 
}

.form button {
    
    cursor: pointer; 
    background-color: #7C4DFF; 
    border: solid 1px #7C4DFF; 
    color: white;
    border-radius: 3px;
    padding: 5px 15px; 
    font-size: 1rem; 
}

.form button:hover {

    opacity: 0.9;
}



.form-login {

    max-width: 480px;
    width: 100%;
}



.flash-messages {

    background-color: #FF80AB; 
    padding: 8px; 
    border-radius: 3px;
    color: white; 
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: center;
    border: 2px solid #D1C4E9;
}

.page iframe {
    width: 100%;
    min-height: 650px;
}
